html, body{
  font-size: 16px;
  width: 100%;
  height: 100%;
}

header {
  float: left;
}

section{
  height: 100%;
  margin-left: 421px;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}
header .container:first-child {
  background: url('rsn-logo.png') no-repeat center;
  background-size: contain;
  padding-left: 0;
  width: 100%;
}
header .container:first-child a {
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 2em;
  color: #007bc2;
  display: inline-block;
  border-radius: 0;
  margin-left: 0;
}
header .container {
  width: 100%;
  padding-left: 3.23rem;
  margin-top: 0px;
}
#map {
  width: 100%;
  height: 100%;
}
#nav-mobile {
  width: 421px !important;
  height: 100% !important;
  padding: 0%;
}

#nav-mobile .rsn-logo {
  background-image: url('./rsn-logo.png');
  background-position: top center;
  background-repeat: no-repeat;
  width: 84px;
  height: 125px;
  margin: 20px auto 0;
}
#nav-mobile .map-meta{
  background-color: #FAFAFA;
  width: 100%;
  margin-top: 60px;
  padding-bottom: 20px
}
#nav-mobile .map-meta h2 {
  height: 1.3125rem;
  width: 5.8125rem;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 500; 
  line-height: 21px;
  text-align: left;
  margin: 2.5rem 17.125rem 2.5rem 3.375rem;
  padding-top: 1.25rem;
}

#nav-mobile .map-meta p {
  height: 3.25rem;
  width: 19.6875rem; 
  color: #546E7A; 
  font-family: Roboto;  
  font-size: 0.8125rem;  
  line-height: 15px;
  margin: 0px 3.25rem 1.25rem 3.375rem;
}

#nav-mobile .map-meta ul li {
  line-height: 1.5rem;
  font-size: 1.2375rem ;
  font-family: Roboto;
  color: #546E7A;
  margin: 0px 6.0625rem 2.5rem 3.375rem;
}


#circle {
    height:23px;
    width:23px;
    border-radius: 30px;
    border: 1px solid rgba(84,110,122,0.4);
    margin-top: -5px;
    margin-left: -5px;
}
#nav-mobile .map-meta ul li span {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 5px;
  border-radius: 30px;
  background-color: #686868;
}



#nav-mobile .map-meta ul li.normal span {
    background-color: #00C14E;
}

#nav-mobile .map-meta ul li.mid span {
  background-color: #ff9c03;
}

#nav-mobile .map-meta ul li.mid{
  margin-right: 0px;
  padding-right: 0px;
}
#nav-mobile .map-meta ul li.danger span {
  background-color: #f00;
}
#nav-mobile .map-meta ul li:hover {
  background: none;
}
#nav-mobile h2 {
  width: 23.125rem;
  height: 3.0625rem;
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 47px;
  text-align: center;
  margin: 2.1875rem 1.5625rem 2.1875rem 1.625rem; 
}

#col2{
  display: inline-block;
}

#col1{
  display: inline-block;
  width: 9.8125rem;
  height: 1.125rem;
}


#nav-mobile h3 {
  color: #546E7A;
  font-size: 0.9375rem;
  text-align: left;
  font-family: "SF Pro Display";
  line-height: 18px;
  margin-bottom: 0px;
}

#nav-mobile p.data {
  margin: 0;
  text-align: left;
  font-family: "SF Pro Display";
  font-size: 1.25rem;
  line-height: 24px;
}

.side-nav li {
  padding: 0;
}
button.filter {
  box-sizing: border-box;
  left: 30px;
  bottom: 140px;
  position: relative;
  margin-bottom: 10px;
  display: block;
  border-radius: 15px;
  border: 2px solid #007bc2;
  background: rgba(255, 255, 255, .7);
  padding: 10px;
  color: #007bc2;
  font-weight: 600;
}
button.filter.active {
  border: 0;
  padding: 12px;
  background: #007bc2;
  color: #fff;
}
.filter_button {
  width: 100px;
  color: #fff;
  box-shadow: none;
  border: none;
}
.filter_button:active {
  background-color: inherit !important;
}

@media only screen and (max-width: 992px) {
  main {
    padding-left: 0;
    z-index: -1;
  }
  header {
    padding: 10px 0;
  }
  .fecha_hora_infoWindow {
    font-size: 12px;
  }
  button.filter {
    left: 20px;
    bottom: 170px;
  }
}
@media only screen and (max-width: 320px) {
  .fecha_hora_infoWindow {
    font-size: 9px;
  }
}

@media only screen and (max-width: 340px) {
  #nav-mobile h2 {
    width: 18rem;
    height: 2.45rem;
    margin-left: 0px;
  }  
}


@media only screen and (max-width: 420px) {
  html, body{
    width: 100%;
    height: 100%;
  }
  header{
    padding: 0px;
    float: none;
  }

  section{
    width: 100%;
    margin: 0px;
    position: absolute;
    height: calc(100% - 50.4px);
  }

  #nav-mobile {
  width: 80% !important;
  height: 100% !important;
}

header .container {
  padding-left: 1rem;

}

#nav-mobile .map-meta h2 {
  margin-left: 2rem;
}

#nav-mobile .map-meta p {
  margin:auto;
  width: 80%;
  height: 70px;
}

#nav-mobile .map-meta ul li {
  margin-left: 2rem;
  margin-right: 0px;
}

#nav-mobile h2 {
  width: 18rem;
  height: 2.45rem;
  margin-right: 0px;
}

#eso {
  margin: 0px;
}
}