html, body{
  font-size: 16px;
  width: 100%;
  height: 100%;
}

header {
  float: left;
}

section{
  height: 100%;
  margin-left: 400px;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}
header .container:first-child {
  background: url('logo-rsn.svg') no-repeat center;
  background-size: contain;
  padding-left: 0;
  width: 100%;
}
header .container:first-child a {
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 32px;
  color: #0087e0;
  display: inline-block;
  border-radius: 0;
  margin-left: 0;
}
header .container {
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 0px;
}
#map {
  width: 100%;
  height: 100%;
}
#nav-mobile {
  width: 400px !important;
  height: 100% !important;
  padding: 0%;
} 

#nav-mobile .rsn-logo {
  width: 84px;
  height: 125px;
  margin: 20px auto 0 auto;
  display: block;
}
#nav-mobile .map-meta{
  background-color: #FAFAFA;
  width: 100%;
  margin-top: 1.36875rem;
  padding-bottom: 20px
}
#nav-mobile .map-meta h2 {
  color: #546E7A; 
  
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 600; 
  text-align: left;
  margin: 2.5rem 0 1rem 2.55rem;
}

#nav-mobile .map-meta p {
  height: 3.25rem;
    width: 19.6875rem;
    color: #546E7A;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8125rem;
    line-height: 15px;
    margin: 0px 3.25rem 1.25rem 2.55rem;
}

#nav-mobile .map-meta ul li {
  line-height: 1.5rem;
  font-size: 1.125rem;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
  color: #546E7A;
  margin: 0px 6.0625rem 2.5rem 2.55rem;
}

.gm-style-iw{
  background-color: #fff;
  top: 15px !important;
  left: 0 !important;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  min-width: 280px;
}


#circle {
    height:23px;
    width:23px;
    border-radius: 30px;
    border: 1px solid rgba(84,110,122,0.4);
    margin-top: -5px;
    margin-left: -5px;
}
#nav-mobile .map-meta ul li span {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 5px;
  border-radius: 30px;
  background-color: #686868;
}



#nav-mobile .map-meta ul li.normal span {
    background-color: #00C14E;
}

#nav-mobile .map-meta ul li.mid span {
  background-color: #ff7300;
}

#nav-mobile .map-meta ul li.mid{
  margin-right: 0px;
  padding-right: 0px;
}
#nav-mobile .map-meta ul li.danger span {
  background-color: #ff0000;
}
#nav-mobile .map-meta ul li:hover {
  background: none;
}
#nav-mobile h2 {
  display: block;
  width: 23.125rem;
  height: 3.0625rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 47px;
  text-align: center;
  margin: 2rem auto 1rem auto; 
}

#col2{
  display: inline-block;
}

#col1{
  display: inline-block;
  width: 9.8125rem;
  height: 1.125rem;
}


#nav-mobile h3 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 600; 
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
  margin-bottom: 0px;

}

#nav-mobile p.data {
  margin: 0;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  line-height: 24px;
}

.side-nav li {
  padding: 0 !important;
}
button.filter {
  font-family: 'Open Sans', sans-serif;
  width: 10rem;
  height: 1.2rem;
  box-sizing: content-box;
  left: 1.875rem;
  bottom: 8.75rem;
  position: relative;
  margin-bottom: 10px;
  display: block;
  border-radius: 18px;
  border: none;
  background: #fff;
  padding: 0.75rem 0.75rem;
  color: #ff6d00;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.3;
  transition: all 150ms linear;
  box-shadow: 2px 5px 10px var(--color-smoke);
  margin-right: 0px;
}
button.filter:hover {
    color: #ff8400;
    background-color: #f8f8f8;
    opacity: 1;
    
}
button.filter.active {
  border: 0;
  background: #ff6d00;
  color: #fff;
}

button.filter.active:hover{
  color: #fff;
    background-color: #ff8400;
    opacity: 1;
}

@media only screen and (max-width: 992px) {
  header{
    padding: 5px 0;
    float: none;
  }
  section{
    width: 100%;
    margin: 0px;
    position: absolute;
    height: calc(100% - 60.4px);
  }
  
  .fecha_hora_infoWindow {
    font-size: 12px;
  }
}


@media only screen and (max-width: 340px), screen and (max-height: 320px) {
  html, body{
    font-size: 10px;
  }

  
  .fecha_hora_infoWindow {
    font-size: 9px;
  }

  #col1{
    display: inline-block;
    width: 9rem;
  }

  button.filter {
    width: 7.5rem;
    height: 0.8rem;
    left: 1rem;
    bottom: 7rem;
  }

 
}


@media only screen and (max-width: 450px) {
  html, body{
    width: 100%;
    height: 100%;
  }
  

  #nav-mobile {
  width: 80% !important;
  height: 100% !important;
}

#nav-mobile .map-meta p {
  width: 80%;
  height: 70px;
}

#nav-mobile h2 {
  width: 18rem;
  height: 2.45rem;
}

}